:root {
    --code-c-bg: #FAFAFA;
    --vp-sidebar-c-bg: rgba(255, 255, 255, 0.8);
}

[data-theme='dark'] {
    --code-c-bg: #1E1E1E;
    --vp-sidebar-c-bg: rgba(27, 27, 31, 0.8);
}

.vp-hero-image {
  max-width: 50%;
  max-height: 150px;
}